.root{
  background-color: rgb(250, 250, 250);
  border: 1px black solid;
}
.panel{
  border-radius: 3px;
  border: 1px solid #eee;
  background: white;
}
.card{
  margin: 10px 0;
  pre {
    border-radius: 3px;
    margin: 0;
    padding: 0;
    border: none;
    textarea {
      resize: vertical;
    }
  }
}
button:focus{
  outline: none !important;
}
a:focus{
  outline: none !important;
}

.projectButton {
  margin: 10px;
}

:global .panel-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
